body {
	background-color: black;
	color: white;
	text-align: center;
}

.panel-guess {
	background-color: #111;
	padding: 2em;
	margin: 1em;
}

div {
	margin: 1em auto;
}

input, button {
	width: 10em;
}

#result, #attempts {
	padding: .2em;
}

h4 {
	margin: 1em;
}